.env
.venv*/
__pycache__/
*.pyc
.pytest_cache/
.superpowers/
HerHealthGPT-RF3.pdf
*.egg-info/
Dataset.zip
Dataset/
HerhealthGPT.docx
/*docx
data/ft/
unsloth_compiled_cache/
unsloth_training_checkpoints/
models/
